# folders
.vscode/**
test/**
node_modules/**
#files
**/.eslintrc.json
.gitignore
**/.vscode-test.*
extension.js
install.sh
package.json.bak
package-lock.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
